
  <form>

    <link href="addexpense.css" rel="stylesheet" type="text/css">
   
    <label for="expense-name">Expense Name:</label>
    <input type="text" id="expense-name" name="expense-name">
    <br>
    <label for="expense-amount">Expense Amount:</label>
    <input type="number" id="expense-amount" name="expense-amount">
    <br>
    <label for="expense-date">Expense Date:</label>
    <input type="date" id="expense-date" name="expense-date">
    <br>
    <input type="submit" value="Add Expense">
  </form>
