  <link href="addReminder.css" rel="stylesheet" type="text/css">
  <form method="post" action="/add_reminder">
      <label for="Remind about">Reminder:</label>
      <input type="text" id="Reminder" name="Reminder">
      <br>
      <label for="amount">Amount:</label>
      <input type="number" id="amount" name="amount">
      <br>
      <label for="date">Date:</label>
      <input type="date" id="date" name="date">
      <br>
      <input type="submit" value="Add reminder">
     
      <form>
