<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="testprofile.css">
	<link rel="preconnect"
		href="https://fonts.gstatic.com">
	<link href=
"https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap"
		rel="stylesheet">
</head>

<body>
    <Body background="C:\Users\bggna\Downloads\wallpaper finance.jpg">  
	<div class="container">
		<div class="user-image">
			<img src="C:\Users\bggna\Downloads\profile.png"
"
			alt="this image contains user-image">
		</div>

		<div class="content">
			<h3 class="name">
                gnaneshwaran</h3>
			<p class="username">
                nanirex
             <p class="deatials">
                student
             <p class="email">
                123@gmail.com
             <p class="phone">
                1234567890
             <p class="country">
                INDIA
            </p>


			<a class="effect effect-2" href="">
				LOG OUT
			</a>
		</div>
	</div>
	

</body>

</html>
