
  <nav>

  <table>
     <link rel="stylesheet" href="viewincome.css">
            <tr>
              <th>Income Name</th>
              <th>Income Amount</th>
              <th> Date</th>
            </tr>
            <tr>
              <td>Pension</td>
              <td>$3000</td>
              <td>01/01/2022</td>
            </tr>
            <tr>
              <td>Investment Interest</td>
              <td>$500</td>
              <td>01/15/2022</td>
            </tr>
            <tr>
              <td>Rental Income </td>
              <td>$1000</td>
              <td>02/01/2022</td>
            </tr>
          </table>

</body>  

</html>
