
  <nav>

  <table>
     <link rel="stylesheet" href="viewexpense.css">
            <tr>
              <th>Expense Name</th>
              <th>Expense Amount</th>
              <th> Date</th>
            </tr>
            <tr>
              <td>Amazon purchase</td>
              <td>$3000</td>
              <td>01/01/2022</td>
            </tr>
            <tr>
              <td>Investment Interest</td>
              <td>$500</td>
              <td>01/15/2022</td>
            </tr>
            <tr>
              <td>Rent </td>
              <td>$1000</td>
              <td>02/01/2022</td>
            </tr>
          </table>
      
