form {
    width: 600px;
    margin: 0px auto;
    padding: 160px;
    
    
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="number"], input[type="date"] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
