table {
    width: 130%;
   
    padding: 200px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  td {
    font-size: 14px;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  input[type="button"] {
    add position:absolute; top: 40px;; right: 40px;;
    background-color: #; /* Green background */
    color: white; /* White text */
    padding: 12px 20px; /* Padding */
    border: none; /* Remove border */
    cursor: pointer; /* Add cursor on hover */
    font-size: 16px; /* Increase font size */
    border-radius: 5px; /* Add rounded corners */
    add position:absolute; top: 40px;; right: 40px;;
  }
  
  input[type="button"]:hover {
    background-color: #afaab5; /* Darken background on hover */
  }
