table {
  width: 130%;

  padding: 200px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ddd;
}
