table {
    width: 130%;
   
    padding: 200px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  td {
    font-size: 14px;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  input[type="button"] {
    add position:absolute; top: 0px;; right: 0px;;
    background-color: #; 
    color: white; 
    padding: 12px 20px; 
    border: none; 
    cursor: pointer; 
    font-size: 16px; 
    border-radius: 5px; 
    add position:absolute; top : 0px; right: 0px;;
  }
  
  input[type="button"]:hover {
    background-color: #afaab5; 
  }
  input[tyoe="button"]:hover{
    
  }
